.navbar-brand {
    float: left;
    font-size: 18px;
    margin-top: 5px;
    line-height: 20px;
    padding: 0px;
    margin-left: 20px;
    margin-top: 7px;
}

.logo {
    height: 50px;
}

.navbar-right {
    float: right!important;
    margin-right: 3px!important;
}

