@import url(http://fonts.googleapis.com/css?family=Capriola);
#apptibasemenu,
#apptibasemenu ul,
#apptibasemenu ul li,
#apptibasemenu ul li a {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  line-height: 1;
  display: block;
  position: relative;
  font-family: Capriola, Helvetica, sans-serif;
}


#apptibasemenu #bg-one {
    background: none repeat scroll 0 0 #0F71BA;
    height: 10px;
}

#apptibasemenu #menu-button {
  display: none;
}
#apptibasemenu {
  width: auto;
  height: 59px;
  padding-bottom: 4px;
}
#apptibasemenu.align-right {
  float: right;
}
#apptibasemenu.align-right ul li {
  float: right;
  margin-right: 0;
  margin-left: 4px;
}
#apptibasemenu.align-right ul li:first-child,
#apptibasemenu.align-right ul li:first-child > a {
  border-bottom-right-radius: 3px;
}
#apptibasemenu #bg-one,
#apptibasemenu #bg-two,
#apptibasemenu #bg-three,
#apptibasemenu #bg-four {
  position: absolute;
  bottom: 0;
  width: 100%;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}
#apptibasemenu #bg-one {
  height: 10px;
  background: #0f71ba;
}
#apptibasemenu #bg-two {
  height: 59px;
  z-index: 2;
  background: url('images/bg.png');
}
#apptibasemenu #bg-three {
  bottom: 4px;
  height: 55px;
  z-index: 3;
  background: #222222;
  background: -moz-linear-gradient(top, #555555 0%, #222222 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #555555), color-stop(100%, #222222));
  background: -webkit-linear-gradient(top, #555555 0%, #222222 100%);
  background: -o-linear-gradient(top, #555555 0%, #222222 100%);
  background: -ms-linear-gradient(top, #555555 0%, #222222 100%);
  background: linear-gradient(to bottom, #555555 0%, #222222 100%);
}
#apptibasemenu #bg-four {
  bottom: 4px;
  height: 55px;
  z-index: 4;
  background: url('images/bg.png');
}
#apptibasemenu ul {
  height: 59px;
}
#apptibasemenu ul li {
  float: left;
  margin-right: 4px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  z-index: 5;
}
#apptibasemenu ul li a {
  padding: 24px 30px 20px 30px;
  margin-bottom: 4px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  color: #eeeeee;
  font-size: 15px;
  text-decoration: none;
}
#apptibasemenu ul li:first-child,
#apptibasemenu ul li:first-child > a {
  border-bottom-left-radius: 3px;
}
#apptibasemenu ul li:hover,
#apptibasemenu ul li.active {
  background: #0f71ba;
  background: -moz-linear-gradient(top, #3fa4f0 0%, #0f71ba 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #3fa4f0), color-stop(100%, #0f71ba));
  background: -webkit-linear-gradient(top, #3fa4f0 0%, #0f71ba 100%);
  background: -o-linear-gradient(top, #3fa4f0 0%, #0f71ba 100%);
  background: -ms-linear-gradient(top, #3fa4f0 0%, #0f71ba 100%);
  background: linear-gradient(to bottom, #3fa4f0 0%, #0f71ba 100%);
}
#apptibasemenu ul li a:hover,
#apptibasemenu ul li.active > a {
  background: url('images/bg.png');
  color: #ffffff;
}

#apptibasemenu #menu-button {
    display: block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    padding: 15px 20px;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 1px;
    color: #ffffff;
    cursor: pointer;
  }
  #apptibasemenu #menu-button:after {
    display: block;
    content: '';
    position: absolute;
    height: 3px;
    width: 22px;
    border-top: 2px solid #ffffff;
    border-bottom: 2px solid #ffffff;
    right: 20px;
    top: 16px;
  }
  #apptibasemenu #menu-button:before {
    display: block;
    content: '';
    position: absolute;
    height: 3px;
    width: 22px;
    border-top: 2px solid #ffffff;
    right: 20px;
    top: 26px;
  }
