/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 18-ago-2014, 15:18:41
    Author     : linuxcreator@gmail.com
*/

/* Tema:Cerulean

*/
.cerulean {
  background-color: #2fa4e7;
  border-color: #1995dc;
}
.cerulean .navbar-brand {
  color: #ffffff;
}
.cerulean .navbar-brand:hover,
.cerulean .navbar-brand:focus {
  color: #ffffff;
  background-color: none;
}
.cerulean .navbar-text {
  color: #dddddd;
}
.cerulean .navbar-nav > li > a {
  color: #ffffff;
  font-family: Verdana;
}
.cerulean .navbar-nav > li > a:hover,
.cerulean .navbar-nav > li > a:focus {
  color: #ffffff;
  background-color: #178acc;
}
.cerulean .navbar-nav > .active > a,
.cerulean .navbar-nav > .active > a:hover,
.cerulean .navbar-nav > .active > a:focus {
  color: #ffffff;
  background-color: #178acc;
}
.cerulean .navbar-nav > .disabled > a,
.cerulean .navbar-nav > .disabled > a:hover,
.cerulean .navbar-nav > .disabled > a:focus {
  color: #dddddd;
  background-color: transparent;
}
.cerulean .navbar-toggle {
  border-color: #178acc;
}
.cerulean .navbar-toggle:hover,
.cerulean .navbar-toggle:focus {
  background-color: #178acc;
}
.cerulean .navbar-toggle .icon-bar {
  background-color: #ffffff;
}
.cerulean .navbar-collapse,
.cerulean .navbar-form {
  border-color: #1995dc;
}
.cerulean .navbar-nav > .open > a,
.cerulean .navbar-nav > .open > a:hover,
.cerulean .navbar-nav > .open > a:focus {
  background-color: #178acc;
  color: #ffffff;
}


.cerulean .navbar-link {
  color: #ffffff;
}
.cerulean .navbar-link:hover {
  color: #ffffff;
}
.cerulean .btn-link {
  color: #ffffff;
}
.cerulean .btn-link:hover,
.cerulean .btn-link:focus {
  color: #ffffff;
}
.cerulean .btn-link[disabled]:hover,
fieldset[disabled] .cerulean .btn-link:hover,
.cerulean .btn-link[disabled]:focus,
fieldset[disabled] .cerulean .btn-link:focus {
  color: #dddddd;
}

.cerulean {
  background-image: -webkit-linear-gradient(#54b4eb, #2fa4e7 60%, #1d9ce5);
  background-image: -o-linear-gradient(#54b4eb, #2fa4e7 60%, #1d9ce5);
  background-image: linear-gradient(#54b4eb, #2fa4e7 60%, #1d9ce5);
  background-repeat: no-repeat;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff54b4eb', endColorstr='#ff1d9ce5', GradientType=0);
  border-bottom: 1px solid #178acc;
  filter: none;
  -webkit-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
}
.cerulean .badge {
  background-color: #fff;
  color: #2fa4e7;
}


/*
Tema Cosmo
*/


.cosmo {
  background-color: #222222;
  border-color: #121212;
}
.cosmo .navbar-brand {
  color: #ffffff;
}
.cosmo .navbar-brand:hover,
.cosmo .navbar-brand:focus {
  color: #ffffff;
  background-color: none;
}
.cosmo .navbar-text {
  color: #ffffff;
}
.cosmo .navbar-nav > li > a {
  color: #ffffff;
  font-family: 'Lato',Calibri,Arial,sans-serif;
}
.cosmo .navbar-nav > li > a:hover,
.cosmo .navbar-nav > li > a:focus {
  color: #ffffff;
  background-color: #090909;
}
.cosmo .navbar-nav > .active > a,
.cosmo .navbar-nav > .active > a:hover,
.cosmo .navbar-nav > .active > a:focus {
  color: #ffffff;
  background-color: #090909;
}
.cosmo .navbar-nav > .disabled > a,
.cosmo .navbar-nav > .disabled > a:hover,
.cosmo .navbar-nav > .disabled > a:focus {
  color: #cccccc;
  background-color: transparent;
}
.cosmo .navbar-toggle {
  border-color: transparent;
}
.cosmo .navbar-toggle:hover,
.cosmo .navbar-toggle:focus {
  background-color: #090909;
}
.cosmo .navbar-toggle .icon-bar {
  background-color: #ffffff;
}
.cosmo .navbar-collapse,
.cosmo .navbar-form {
  border-color: #121212;
}
.cosmo .navbar-nav > .open > a,
.cosmo .navbar-nav > .open > a:hover,
.cosmo .navbar-nav > .open > a:focus {
  background-color: #090909;
  color: #ffffff;
}


/*
Tema Paper
*/

.paper {
  background-color: #BBBBBB;
  border-color: #454545;
}
.paper .navbar-brand {
  color: #666666;
}
.paper .navbar-brand:hover,
.paper .navbar-brand:focus {
  color: #212121;
  background-color: transparent;
}
.paper .navbar-text {
  color: #bbbbbb;
}
.paper .navbar-nav > li > a {
  color: #666666;
}
.paper .navbar-nav > li > a:hover,
.paper .navbar-nav > li > a:focus {
  color: #212121;
  background-color: transparent;
}
.paper .navbar-nav > .active > a,
.paper .navbar-nav > .active > a:hover,
.paper .navbar-nav > .active > a:focus {
  color: #212121;
  background-color: #eeeeee;
}
.paper .navbar-nav > .disabled > a,
.paper .navbar-nav > .disabled > a:hover,
.paper .navbar-nav > .disabled > a:focus {
  color: #cccccc;
  background-color: transparent;
}
.paper .navbar-toggle {
  border-color: transparent;
}
.paper .navbar-toggle:hover,
.paper .navbar-toggle:focus {
  background-color: transparent;
}
.paper .navbar-toggle .icon-bar {
  background-color: rgba(0, 0, 0, 0.5);
}
.paper .navbar-collapse,
.paper .navbar-form {
  border-color: transparent;
}
.paper .navbar-nav > .open > a,
.paper .navbar-nav > .open > a:hover,
.paper .navbar-nav > .open > a:focus {
  background-color: #eeeeee;
  color: #212121;
}

.paper .navbar-link {
  color: #666666;
}
.paper .navbar-link:hover {
  color: #212121;
}
.paper .btn-link {
  color: #666666;
}
.paper .btn-link:hover,
.paper .btn-link:focus {
  color: #212121;
}
.paper .btn-link[disabled]:hover,
fieldset[disabled] .paper .btn-link:hover,
.paper .btn-link[disabled]:focus,
fieldset[disabled] .paper .btn-link:focus {
  color: #cccccc;
}





/*THEMES APPTIBASE MENU*/
.gister {
  background-color: #BBBBBB;
  border-color: #454545;
}
.gister .navbar-brand {
  color: #666666;
}
.gister .navbar-brand:hover,
.gister .navbar-brand:focus {
  color: #212121;
  background-color: transparent;
}
.gister .navbar-text {
  color: #bbbbbb;
}
.gister .navbar-nav > li > a {
  color: #666666;
  height: 7% !important;
}
.gister .navbar-nav > li > a:hover,
.gister .navbar-nav > li > a:focus {
  color: #212121;
  background-color: transparent;
}
.gister .navbar-nav > .active > a,
.gister .navbar-nav > .active > a:hover,
.gister .navbar-nav > .active > a:focus {
  color: #212121;
  background-color: #eeeeee;
}
.gister .navbar-nav > .disabled > a,
.gister .navbar-nav > .disabled > a:hover,
.gister .navbar-nav > .disabled > a:focus {
  color: #cccccc;
  background-color: transparent;
}
.gister .navbar-toggle {
  border-color: transparent;
}
.gister .navbar-toggle:hover,
.gister .navbar-toggle:focus {
  background-color: transparent;
}
.gister .navbar-toggle .icon-bar {
  background-color: rgba(0, 0, 0, 0.5);
}
.gister .navbar-collapse,
.gister .navbar-form {
  border-color: transparent;
}
.gister .navbar-nav > .open > a,
.gister .navbar-nav > .open > a:hover,
.gister .navbar-nav > .open > a:focus {
  background-color: #eeeeee;
  color: #212121;
}

.gister .navbar-link {
  color: #666666;
}
.gister .navbar-link:hover {
  color: #212121;
}
.gister .btn-link {
  color: #666666;
}
.gister .btn-link:hover,
.gister .btn-link:focus {
  color: #212121;
}
.gister .btn-link[disabled]:hover,
fieldset[disabled] .gister .btn-link:hover,
.gister .btn-link[disabled]:focus,
fieldset[disabled] .gister .btn-link:focus {
  color: #cccccc;
}