{%extends "::dashboardBase.html.twig"%}
{% block content %}

    <ul class="table-view">
        <li class="table-view-cell">
            <a class="navigate-right" href="{{path('notice_detail')}}" data-transition="slide-in">
                Ejemplo de noticia
                <p>Lorem ipsum dolor sit amet...</p>
            </a>
        </li>
        <li class="table-view-cell">
            <a class="navigate-right" href="{{path('notice_detail')}}" data-transition="slide-in">
                Ejemplo de noticia
                <p>Lorem ipsum dolor sit amet...</p>
            </a>
        </li>
        <li class="table-view-cell">
            <a class="navigate-right" href="{{path('notice_detail')}}" data-transition="slide-in">
                Ejemplo de noticia
                <p>Lorem ipsum dolor sit amet...</p>
            </a>
        </li>
        <li class="table-view-cell">
            <a class="navigate-right" href="{{path('notice_detail')}}" data-transition="slide-in">
                Ejemplo de noticia
                <p>Lorem ipsum dolor sit amet...</p>
            </a>
        </li>


    </ul>
{% endblock %}